<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
<form [formGroup]="registrationForm">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['firstName'].errors }" />
        <div *ngIf="submitted && d['firstName'].errors" class="invalid-feedback">
            <div *ngIf="d['firstName'].errors?.['required']">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['lastName'].errors }" />
        <div *ngIf="submitted && d['lastName'].errors" class="invalid-feedback">
            <div *ngIf="d['lastName'].errors?.['required']">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['email'].errors }" />
        <div *ngIf="submitted && d['email'].errors" class="invalid-feedback">
            <div *ngIf="d['email'].errors?.['required']">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="AadharNumber">AadharNumber</label>
        <input type="text" formControlName="aadharNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['aadharNumber'].errors }" />
        <div *ngIf="submitted && d['aadharNumber'].errors" class="invalid-feedback">
            <div *ngIf="d['aadharNumber'].errors?.['required']">AadharNumber is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['password'].errors }" />
        <div *ngIf="submitted && d['password'].errors?.['required']" class="invalid-feedback">
            <div *ngIf="d['password'].errors?.['required']">Password is required</div>
        
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">ConfirmPassword</label>
        <input type="confirmPassword" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && d['password'].errors }" />
        <div *ngIf="submitted && d['confirmPassword'].errors?.['required']" class="invalid-feedback">
            <div *ngIf="d['confirmPassword'].errors?.['required']">confirmPassword is required</div>
        
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>
</div>